{% extends "base.html" %}

{% block content %}


<a href="{{ url_for('index') }}" class="back-btn">← {{ translations.back_home or 'Powrót' }}</a>

<section class="about-section">
  <div class="about-with-logos">
    <picture>
      <source srcset="{{ url_for('static', filename='logo.webp') }}" type="image/webp">
      <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo" class="about-logo" width="200" height="200" loading="lazy">
    </picture>

    <div class="about-text">
      <p>{{ translations.about_us_intro or "Jesteśmy zespołem z wieloletnim doświadczeniem w przeprowadzkach, działającym na terenie Bielska-Białej i całej Polski." }}</p>
      <p>{{ translations.about_us_values or "Naszą misją jest zapewnienie bezpiecznej, sprawnej i bezstresowej przeprowadzki dla każdego klienta." }}</p>
      <p>{{ translations.about_us_end or "Zaufaj nam, a Twoja przeprowadzka przebiegnie gładko i profesjonalnie." }}</p>
    </div>
  </div>
</section>



{% endblock %}
