<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block page_title %}Kadar Przeprowadzki - Bielsko Biała i cała Poslka{% endblock %}</title>
        <link rel="icon" type="image/jpg" href="static/logo.jpg" class="icon-image">
        <link rel="shortcut icon" type="image/jpg" href="static/logo.jpg" class="icon-image">

        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link rel="dns-prefetch" href="//fonts.gstatic.com">
        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Great+Vibes&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Great+Vibes&display=swap"></noscript>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.min.css') }}?v=20260126">
        {% block extra_head %}{% endblock %}
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" media="print" onload="this.media='all'">
        <link rel="stylesheet" href="https://unpkg.com/glightbox/dist/css/glightbox.min.css" media="print" onload="this.media='all'">
        <link rel="preload" href="{{ url_for('static', filename='slides/horizontal1.webp') }}" as="image">


        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/Flip.min.js" defer></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer></script>
        <script src="https://unpkg.com/glightbox/dist/js/glightbox.min.js" defer></script>
        <script src="{{ url_for('static', filename='js/slider.js') }}"></script>
        <script src="{{ url_for('static', filename='js/gallery.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/truck-scroll-global.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/text-flyin.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/language-selector.js') }}?v=20250924" defer></script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9WQL658BCE"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-9WQL658BCE');
        </script>

    </head>

    <body>
        <!-- Menu -->
        <input type="checkbox" id="menu" />
        <label for="menu" class="menu">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <label for="menu" class="menu-backdrop"></label>

        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('index') }}" class="site-menu-link">{{ translations.menu1 }}</a></li>
                <li><a href="{{ url_for('about') }}" class="site-menu-link">{{ translations.menu2 }}</a></li>
                <li><a href="{{ url_for('contact') }}" class="site-menu-link">{{ translations.menu3 }}</a></li>
                <li><a href="{{ url_for('index') }}#oferta" class="site-menu-link">{{ translations.menu4 }}</a></li>
                <li><a href="{{ url_for('index') }}#wycena" class="site-menu-link">{{ translations.menu5 }}</a></li>
                <li><a href="{{ url_for('index') }}#promotions" class="site-menu-link">{{ translations.menu6 }}</a></li>
                <li><a href="{{ url_for('index') }}#opinie" class="site-menu-link">{{ translations.menu7 }}</a></li>
                <li><a href="{{ url_for('blog') }}" class="site-menu-link">{{ translations.menu8 }}</a></li>
            </ul>
        </nav>

        <!-- Everything that is in index.html -->
        <div id="main-content">
            {% block content %}

            {% endblock %}
        </div>


        <!--Easter egg-->
        <script src="{{ url_for('static', filename='js/easter-egg.js') }}"></script>

        <video id="the-world-bg" autoplay muted playsinline>
            <source src="/static/Za-Warudo.mp4" type="video/mp4" defer>
        </video>

    </body>
</html>
