{% extends "base.html" %}

{% block content %}


<!-- Back button -->
<a class="back-btn" href="/" aria-label="Back to home">← {{ translations.back_home }}</a>

<section class="credits-section">
  <h2 class="section-title">{{ translations.credits_title }}</h2>

  <p>{{ translations.credits_created_by }}
    <a href="https://dmytrokostiuk.me" target="_blank" rel="noopener">Dmytro Kostiuk</a>
  </p>

  <p>
    {{ translations.credits_icons_designed_by }}
    <a href="https://www.flaticon.com/authors/mikan933" target="_blank" rel="noopener noreferrer">mikan933</a>,
    <a href="https://www.flaticon.com/authors/Freepik" target="_blank" rel="noopener noreferrer">Freepik</a>,
    <a href="https://www.flaticon.com/authors/Uniconlabs" target="_blank" rel="noopener noreferrer">Uniconlabs</a>,
    <a href="https://www.flaticon.com/authors/hilmy-abiyyu-a" target="_blank" rel="noopener noreferrer">Hilmy Abiyyu A.</a>,
    <a href="https://www.flaticon.com/authors/Leremy" target="_blank" rel="noopener noreferrer">Leremy</a>
    {{ translations.credits_from }}
    <a href="https://www.flaticon.com/" target="_blank" rel="noopener noreferrer">Flaticon</a>.
  </p>
</section>


{% endblock %}
